*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 0,625rem;
    box-sizing: border-box;
}

body{
    margin: 20px;
    padding: 20px;
    font-family: 'Borel', cursive;
    font-family: 'Raleway', sans-serif;
}

h1{
    margin-top: 55px;
    text-align: center;
    font-size: 4.0rem;
    font-family: 'Borel', cursive;
}

ol{
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: fixed;
    padding-top: 2rem;
    top: 0;
    left: 0;
    right: 0;
    background:linear-gradient(180deg, #BFBFBF,#8C8C8C,#595959,#262626,#0D0D0D);
    color: white;

}

li{
    margin: 0 2rem 2rem 2rem;
}

/* div{
    width: 250px;
    height: 250px;
    background-color: black;
} */